<footer class="footer">
  <h1 class="titulo">AmparoCalderon</h1>
  <P class="titulo">Estetica profesional</P>
  <a
    class="icon"
    href="https://www.facebook.com/amparo.calderon.14"
    target="_blank"
  >
    <i class="bx bxl-facebook bx-lg bx-flashing"></i>
  </a>
  <a class="icon" href="https://www.instagram.com/amparocg21/" target="_blank">
    <i class="bx bxl-instagram bx-lg bx-flashing"></i>
  </a>
  <a class="icon" href="//wa.me/3102795353" target="_blank">
    <i class="bx bxl-whatsapp bx-lg bx-flashing"></i>
  </a>
  <a
    class="icon"
    href="https://www.tiktok.com/@amparocalderon603?lang=es"
    target="_blank"
  >
    <i class="bx bxl-tiktok bx-lg bx-flashing"></i>
  </a>
  <img class="logo" src="logo.PNG" alt="" />
</footer>
