<div class="estudios">
  <section class="contenedor">
    <h1 class="subtitulo">Servicios</h1>
    <div class="contenedor-servicio">
      <div class="checklist-servicio">
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Masajes Reductor
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Masajes Relajantes
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Masajes Terapeuticos
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Levantamiento de glúteos
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Masaje Anticelulítico
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Masaje energético
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Maderoterapia facial
          </h3>
        </div>
        <div class="service">
          <h3 class="n-service">
            <span class="number"></span>
            <i class="bx bx-spa"></i>Yesoterapia corporal y facial.
          </h3>
        </div>
      </div>
      <video width="400" controls>
        <source src="v2.mp4" type="video/mp4" />
        Tu navegador no soporta el video.
      </video>
    </div>
  </section>
</div>
