<div class="fondo">
  <p class="mensaje">
    Celebra la belleza y la fuerza de todas las personas con exclusivos masajes
    y servicios de spa diseñados para consentirte de pies a cabeza. Desde
    masajes relajantes hasta tratamientos faciales rejuvenecedores y esteticos,
    te invito a disfrutar de una experiencia de lujo que te hará sentir renovada
    y revitalizada. ¡Reserva tu cita ahora y regálate el cuidado que mereces!
  </p>
  <img src="relajarse.png" width="300" height="300" alt="Esbelta" />
</div>
