<section>
  <h1>Videos</h1>
  <div class="contenedor">
    <video class="video" controls src="v3.mp4" width="300" height="300"></video>
    <video class="video" controls src="v5.mp4" width="300" height="300"></video>
    <video class="video" controls src="v2.mp4" width="300" height="300"></video>
    <video class="video" controls src="v6.mp4" width="300" height="300"></video>
    <video class="video" controls src="v7.mp4" width="300" height="300"></video>
    <video class="video" controls src="5v.mp4" width="300" height="300"></video>
  </div>
</section>
<h1 class="tituloFotos">Fotos</h1>
<section class="fotos">
  <img src="a1.jpeg" width="300" height="300" alt="foto" />
  <img src="a2.jpeg" width="300" height="300" alt="foto" />
  <img src="a3.jpeg" width="300" height="300" alt="foto" />
  <img src="a4.jpeg" width="300" height="300" alt="foto" />
  <img src="a5.jpeg" width="300" height="300" alt="foto" />
</section>
<div class="texto">
  <h1 class="text">
    🌺Moldea tu cuerpo y reduce medidas en 10 sesiones 😁 Que incluye
  </h1>
  <h4 class="text">🌺Valoración Personalizada</h4>
  <h4 class="text">🌺Guía Nutricional</h4>
  <h4 class="text">🌺Reducción y Moldeo de brazos</h4>
  <h4 class="text">🌺Reducción y moldeo abdomen</h4>
  <h4 class="text">🌺Reducción y moldeo de cintura</h4>
  <h4 class="text">🌺Reducción y moldeo de piernas</h4>
  <h4 class="text">🌺Reducción y moldeo de entrepierna</h4>
  <h4 class="text">🌺Reducción y moldeo de caderas</h4>
  <h4 class="text">🌺Levantamiento de glúteos</h4>
  <h4 class="text">🌺Eliminación de celulitis</h4>
  <h4 class="text">🌺Combinación Maderoterapia y Ejercicio</h4>
  <h4 class="text">🌺Ventosas</h4>
  <h4 class="text">🌺Gimnasia pasiva</h4>
  <h4 class="text">🌺Masajeador eléctrico</h4>
  <h4 class="text">🌺Cavitacion</h4>
  <h4 class="text">🌺Radiofrecuencia</h4>
  <h4 class="text">🌺Ultrasonido</h4>
  <h4 class="text">🌺Vacumterapia</h4>
  <video controls src="v1.1.mp4" width="900" height="300"></video>
</div>
